

.one {

	font-family: 'Bellefair', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Artifika', serif;
}


.two {

	font-family: 'Bellefair', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Artifika', serif;
}


.three {

	font-family: 'Bellefair', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Artifika', serif;


}